.head{
    height: 80px;
    width: 100%;
    border-radius: 5;
    background: linear-gradient(to left, #81d6c2, #584980);
    font-style: Serif;
    color:aliceblue
}

label{
    font-style: Serif;
    color: brown;
}

.head1{
    text-align: center;
    padding: 10px;
    
}

.container{
    margin-top: 10px;
}

.row{
    padding-top: 20px;
}

body {
    /* Set "my-sec-counter" to 0 */
    counter-reset: my-sec-counter;
  }
  .sl::before {
    /* Increment "my-sec-counter" by 1 */
    counter-increment: my-sec-counter;
    content: "" counter(my-sec-counter) " ";
  }


  .row{
    padding: 30px;
  }