.flex-container {
    display: flex;
    padding: 10px;
    
  }
  


.flex-container{
    margin-bottom: 20px;
    height: 85px;
    width: 100%;
    color: aliceblue;
    background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #030602, #8DC26F);
    background: linear-gradient(to left, #52b8a0, #003375);
    border-radius: 10px;

}
.head{
    height: 80px;
    width: 100%;
    padding: 10px;
}

.head2{
    text-align: center;
    padding: 10px;
}
.container{
    padding: 15px;
    width: 100%;
}

body {
    /* Set "my-sec-counter" to 0 */
    counter-reset: my-sec-counter;
  }
  .sl::before {
    /* Increment "my-sec-counter" by 1 */
    counter-increment: my-sec-counter;
    content: "" counter(my-sec-counter) " ";
  }