.dashbord{
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 10px;
}

.container{
    margin-top: 2.5%;
    
}

.number{
  color: blue;
  font-size: 30px;
  font-style: italic;
  
}

.card-columns{
  padding: 10px;
  
}

.chart{
  border-style: solid;
  border-color: rgb(73, 68, 68);
  height: 450px;
  margin-top: 10px;
}


.semester_chart{
  padding: 35px;
}



.row{
  padding: 35px;
}


.head1{
  text-align: center;
}

canvas{
  align-items: center;
}