.head{
    height: 80px;
    width: 100%;
    background: linear-gradient(to left, #81d6c2, #584980);
  }
  
  .head1{
    text-align: center;
    padding: 10px;
  }

.head2{
    margin-top: 20px;
  }


  .container{
    padding-top: 5%;
  }

  .part2{
    
    background-color: azure;
    border: 1px solid;
    
    box-shadow: 5px 10px #888888;
    
  }
  

  body {
    /* Set "my-sec-counter" to 0 */
    counter-reset: my-sec-counter;
  }
  .sl::before {
    /* Increment "my-sec-counter" by 1 */
    counter-increment: my-sec-counter;
    content: "" counter(my-sec-counter) " ";
  }