{% extends "teacher_nav.html" %}

{% load static %}
<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>
      {% block title%}

      {% endblock title%}
    </title>  
    {% load static %}  

    {% block css%}
    
    <link href="{% static 'css/profile.css' %}" rel="stylesheet"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Antonio:wght@500&display=swap" rel="stylesheet">
    {% endblock css%}
    
</head>  


<body>  
    {% block body %}
    
    <div class="container">

        <div class="profile">
            <p class="text"> LMS Account <p/>
        </div>

        <div class="img">
            <img src="{% static 'img/Best-Website-Welcome-Message-Examples.png' %}" alt="My image">
        </div>


        <div class="flex-container">
            <div class="part1">
                <h4> <b>Name:</b> {{firstName}} {{lastName}} </h4>
                <h4><b>ID: </b>{{t_id}}</h4>
                <h4><b>Email:</b> {{email}}</h4>
                <h4><b>Department:</b> {{tdep}} </h4>
            </div>
            <div class="part1"> 

            </div>
            <div class="part1"> 

            </div>
            
        </div>

    </div>
    {% endblock body %}



</body>  

</html>  