
{% extends "teacher_nav.html" %}

{% load static %}
<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>
      {% block title%}
      Student
      {% endblock title%}
    </title>  
    {% load static %}  
    {% block css%}
    <link href="{% static 'css/teacherHome.css' %}" rel="stylesheet"> 
    {% endblock css%}
</head>  

<body>  
    {% block body %}
    <div class="container">
      <div class="alert alert-primary" role="alert">
        Welcome to our system
      </div>

      <div class="bgImg">
        <img src="{% static 'img/Best-Website-Welcome-Message-Examples.png' %}" alt="My image">
      </div>
    </div>
      {% endblock body %}
</body>  

</html> 