.flex-container {
    display: flex;
    padding: 10px;
    
  }
  


.flex-container{
    height: 80px;
    width: 100%;
    background-color: rgb(112, 163, 30);
}
.head{
    height: 80px;
    width: 100%;
    padding: 10px;
}

.head2{
    text-align: center;
    padding: 10px;
}
.container{
    padding: 15px;
    width: 100%;
}

body {
    /* Set "my-sec-counter" to 0 */
    counter-reset: my-sec-counter;
  }
  .sl::before {
    /* Increment "my-sec-counter" by 1 */
    counter-increment: my-sec-counter;
    content: "" counter(my-sec-counter) " ";
  }