.head{
    height: 80px;
    width: 100%;
    background-color: rgb(112, 163, 30);
}

.head1{
    text-align: center;
    padding: 10px;
}



.post{
    margin-top: 5%;
    width: 100%;
    border: 5px;
    border-color: rgb(255, 0, 0);
    border-style: solid;
    background-color: rgb(251, 251, 251);
}

.poster{
    margin-top: 5%;
    width: 100%;
    border: 5px;
    border-color: black;
    border-style: solid;
}


.demotitle{
    color: rgb(19, 185, 241);
    margin-left: 5%;
    text-shadow: 2px 2px black;
    
}