body {
    background: #76b852; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
  }
  

table,th ,td{
    margin-top:6%;
    border: 1px solid;
    height: 600px;
    width: 600px;
}

.td1{
    background-color: rgb(28, 231, 231);
    padding: 5px;
}

.td2{
    background-color: rgb(143, 201, 201);
    

}

h3{
    text-align: center;
}

p{
    padding: 8px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
   
}


