.head{
    margin-top: 10px;
    border-radius: 10px;
  height: 80px;
  width: 100%;
  background: linear-gradient(to left, #52b8a0, #003375);
  
  
}


.head1{

  text-align: center;
  padding: 10px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.head2{
    margin-top: 100px;
}

