th{
    text-align: center;
}

tr{
  font-size: 15px;
}


.weight{
    padding-top: 10px;
}

.flex-container {
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
.weight{
    padding: 10px;
  }

td{
  text-align: center;
  padding: 5px;
}

.input {
  outline: hidden;
  height: 30px;
  width: 45px;
}

.weight{
  font-size: 12px;
}

.total{
  color: red;
}

.mkr{
  font-size: 25px;
  font-family: 'Rajdhani', sans-serif;
}

.input{
  font-size: 15px;
}

.head{
  height: 80px;
  width: 100%;
  background: linear-gradient(to left, #52b8a0, #003375);
  
  
}

.charthead{
  height: 40px;
  width: 100%;
  background: linear-gradient(to left, #52b8a0, #003375);
  
  
}

h1{
  font-family: "Times New Roman", Times, serif;
}

.head1{
  text-align: center;
  padding: 10px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.container{
  margin-top: 10px;
}
body {
  /* Set "my-sec-counter" to 0 */
  counter-reset: my-sec-counter;
}
.sl::before {
  /* Increment "my-sec-counter" by 1 */
  counter-increment: my-sec-counter;
  content: "" counter(my-sec-counter) " ";
}

