{% extends "student_nav.html" %}

{% load static %}
<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>
      {% block title%}

      {% endblock title%}
    </title>  
    {% load static %}  

    {% block css%}
    
    <link href="{% static 'css/teacherResult.css' %}" rel="stylesheet"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    {% endblock css%}
    
</head>  


<body>  
    {% block body %}
    
    <div class="container">
      <div class="flex-containe">
      <div class="head">
        <div class="head1"><h1>{{ class3 }} &emsp; Sec- {{sec}}</h1></div>
        
      </div>
      

      <div>
      <div class="noti">

        {% if noti == 0 %}
          <div class="alert alert-danger" role="alert">
            This assessment already exist.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% elif noti == 1 %}
          <div class="alert alert-success" role="alert">
            Assesment add successful.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %}

      </div>

      <div class="flex-container">
        <div class="weight"><a class="btn btn-info active" href="{% url 'studentResult' x=x%}">Result</a></div>
        <div class="weight"><a class="btn btn-danger" href="{% url 'studentwieght' x=x %}">Weight</a></div>
      </div>


      <div class="flex-container">

          {% for ass in exam %}
  
            <div class="weight"><a class="btn btn-danger" href="{% url 'studentassesment' assName=ass.ass_name x=x %}">{{ass.ass_name}}</a></div>
  
          {% endfor %}
          
      <div class='table'>
        <table class="table table-bordered">
          <thead>
            <tr>
              
              <th scope="col" colspan="3"> Course Instructor: {{firstName}}&nbsp;{{lastName}}</th>
              {% for ass in exam %}
              <th scope="col" rowspan="3">{{ass.ass_name}}</th>
              {% endfor %}
              <th scope="col" rowspan="3">Total</th>
              <th scope="col" rowspan="4">Letter Grade</th>


            </tr>
            <tr>
              
              <th scope="col">Course Code</th>
              <th scope="col">{{class3}}</th>
              <th scope="col">Section {{sec}}</th>
            </tr>


            <tr>
              
              <th scope="col">Course Title</th>
              <th scope="col" colspan="2">{{courseName}}</th>
            </tr>

            <tr>
              
              <th scope="col">Credit</th>
              <th scope="col">{{credit}}</th>
              <th scope="col">{{classSemester}}</th>

              {% for ass in exam %}

                {% for weight in wieght_number2 %}
                  {% if ass.ass_name == weight.Exam_name %}
                  <th scope="col" >{{weight.wieght}}</th>
                  {% endif %}
                {% endfor %}
              
              {% endfor %}

              <th scope="col">{{totalweight}}</th>


            </tr>

          </thead>
          <tbody>
          {% for student in student1 %}
            {% if student.stdid == student_id %}
              <tr>
                <td class="sl"> </td>
                <th scope="row" class='editable'>{{ student.stdid }}</th>

                {% for std in studentName %}

                    {% if std.s_id == student.stdid %}
                      <th> {{std.firstName}} &nbsp; {{std.lastName}} </th>
                    {% endif %}

                {% endfor %}
                {% for m in AssMark2 %}
                  {% if m.markS_id == student.stdid %}
                    {% for ass in exam %}
                      {% if ass.ass_name == m.markAssName %}
                        <th scope="col" >{{m.MarkAss}}</th>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                {% endfor %}
                {% for g in gread2 %}
                  {% if g.greadS_id == student.stdid %}
                  
                    <th scope="col" >{{g.greadtotalmark}}</th>
                    <th scope="col" >{{g.greadLetter}}</th>
                  {% endif %}
                {% endfor %}
                
              </tr>
            {% endif %}
          {% endfor %}
          </tbody>
        </table>
      </div>
 


      <script>
        function validateForm() {
          var x = document.forms["myForm"]["ass_name"].value;

          if (x == "" || x == null) {
            alert("Name must be filled out");
            return false;
          }

        }
        </script>
      {% endblock body %}



</body>  

</html>  